.brand{
    margin: auto;
    background-color: #fff;
    height: 72vh;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 75%;
    box-shadow:10px 10px 50px 10px #BFC6C4 ;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;

}